NODE_ENV=development
PORT=8000

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=crhub

# Redis
REDIS_URL=redis://localhost:6379

# Comma-separated local/production frontend origins
CORS_FRONTEND_URL=http://localhost:3000
